<div>
    <h2>
        <span>Pedidos</span>
        <button class="btn btn-primary float-right jh-create-entity create-shopping-my-suffix" [routerLink]="['/', { outlets: { popup: ['shopping-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Nuevo pedido
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
	<h3>
        <span>Historial de pedidos</span>
	</h3>
    <div class="table-responsive" *ngIf="shoppings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span>Nombre</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idType"><span>Tipo de Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idNumber"><span>Número de Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateOrder"><span>Fecha</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateDelivery"><span>Fecha de entrega</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="address"><span>Dirección</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="total"><span>Total</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shopping of shoppings ;trackBy: trackId">
                <td><a [routerLink]="['../shopping-my-suffix', shopping.id ]">{{shopping.id}}</a></td>
                <td>{{shopping.name}}</td>
                <td>{{shopping.idType}}</td>
                <td>{{shopping.idNumber}}</td>
                <td>{{shopping.dateOrder | date:'medium'}}</td>
                <td>{{shopping.dateDelivery | date:'medium'}}</td>
                <td>{{shopping.address}}</td>
                <td>{{shopping.total}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../shopping-my-suffix', shopping.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">Ver Detalle</span>
                        </button>            
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="shoppings && shoppings.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
