<div class="row">
    <div class="col-md-3">
        <span class="logo img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Bienvenido a <span style="color:#16b5db; font-weight: bold;">wearplus</span></h1>
        <p class="lead">wearplus.com.co es un sitio de moda online, donde encontrarás lo mejor en vestuario, camisas formales, pantalones formales, chaquetas y mucho más.</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-info" *ngSwitchCase="true">
                <span *ngIf="account"> Hola "{{account.login}}". </span><br/>
                <span> Para realizar un pedido,  <a class="alert-link" routerLink="shopping-my-suffix">¡click acá!</a></span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Si quiere realizar un pedido </span>
                <a class="alert-link" (click)="login()">debe iniciar sesión</a>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>¿No tiene cuanta de usuario?</span>
                <a class="alert-link" routerLink="register">puede crear una acá</a>
            </div>
        </div>
        <p>
            Contacto:
        </p>

        <ul>
            <li>Wearplus Limitada</li>
            <li>Teléfono: +57 (4) 888 88 88</li>
            <li>Dirección: Carrera 33 # 33 - 33</li>
            <li>Medellín, Colombia</li>
            <li style="color:#16b5db;">info@wearplus.com.co</li>
        </ul>

        <p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3966.1665633615844!2d-75.5883408192773!3d6.2417669632964845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sco!4v1520153371576" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </p>
    </div>
</div>
